// gallery01
section.gallery_01(data-menu='true')
	.layoutWrap
		h2.title 潮車選輯
		.subTitleWrap
			p.subTitle 「VEGA 星潮125」，暢行不夠，更要有型包覆式車頭手把，搭配一體式後把手，流線車體俐落有型，全車配備LED定位燈，潮型全現！125c.c.大馬力、輕巧車身配備省力腳架，騎乘零限制，巷弄隨心穿梭，城市移動潮我來<br/>SYM VEGA 引領二輪新浪潮，從零跟隨，潮跑不設限<br/>各式挑戰，儘管＃潮 我來<br/>看更多詳細內容：<a href="https://goo.gl/6JKB2F" target="_blank">https://goo.gl/6JKB2F</a>

	ul#gallery_01_slider.slider
		//Main Slide
		li(data-thumb='img/gallery/g_01/01.jpg')
			.img
				img(src='img/gallery/g_01/01.jpg', data-width='1200', data-height='900')
			.txt
				span= 'SYM VEGA 耀眼嗆紅 放膽個性自我'
		li(data-thumb='img/gallery/g_01/02.jpg')
			.img
				img(src='img/gallery/g_01/02.jpg', data-width='1200', data-height='900')
			.txt
				span= 'SYM VEGA 消光逆黑 竄動逆流精神'
		li(data-thumb='img/gallery/g_01/03.jpg')
			.img
				img(src='img/gallery/g_01/03.jpg', data-width='1200', data-height='900')
			.txt
				span= 'SYM VEGA 消光銀灰 隨心奔放恣意'

		li(data-thumb='img/gallery/g_01/04.jpg')
			.img
				img(src='img/gallery/g_01/04.jpg', data-width='1200', data-height='900')
			.txt
				span= '流行多變 唯有自我風格不變化'
		li(data-thumb='img/gallery/g_01/05.jpg')
			.img
				img(src='img/gallery/g_01/05.jpg', data-width='1200', data-height='900')
			.txt
				span= '不在乎別人的目光，才能讓自己發光'
		li(data-thumb='img/gallery/g_01/06.jpg')
			.img
				img(src='img/gallery/g_01/06.jpg', data-width='1200', data-height='900')
			.txt
				span= '誰說甜美不能壞'
		li(data-thumb='img/gallery/g_01/07.jpg')
			.img
				img(src='img/gallery/g_01/07.jpg', data-width='1200', data-height='900')
			.txt
				span= '怕痛 哪有tone'
		li(data-thumb='img/gallery/g_01/08.jpg')
			.img
				img(src='img/gallery/g_01/08.jpg', data-width='1200', data-height='900')
			.txt
				span= '有自信就可以撐起所有衣服'

		li(data-thumb='img/gallery/g_01/09.jpg')
			.img
				img(src='img/gallery/g_01/09.jpg', data-width='1200', data-height='900')
			.txt
				span= 'VEGA PARTY花絮-歌手許書豪潮high即興創作'
		li(data-thumb='img/gallery/g_01/10.jpg')
			.img
				img(src='img/gallery/g_01/10.jpg', data-width='1200', data-height='900')
			.txt
				span= 'VEGA PARTY花絮-各界潮客共襄盛舉'
		li(data-thumb='img/gallery/g_01/11.jpg')
			.img
				img(src='img/gallery/g_01/11.jpg', data-width='1200', data-height='900')
			.txt
				span= 'VEGA PARTY花絮-梁凱皓親自設計刺青彩繪車'

// gallery01 end